<div class="conatiner">

  <!-- Change Password Modal -->

  <nz-modal
      [(nzVisible)]="isVisible2"
      nzTitle="Change Password"
      (nzOnCancel)="handleCancel2()"
      (nzOnOk)="handleOk2()"
      [nzOkLoading]="isOkLoading2"
    >
      <div *nzModalContent>





      </div>
    </nz-modal>





    <!-- Table & Button-->

<app-addstudents></app-addstudents>

<nz-table #basicTable class="studentsTable" >
  <thead>
    <tr>
      <th>Name</th>
      <th>National Code</th>
      <th>Email</th>
      <th>phone Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of StudentsData">
      <td>{{ data.name }}</td>
      <td>{{ data.nationalCode }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>

       <app-editstudents></app-editstudents>

        <nz-divider nzType="vertical"></nz-divider>

        <app-deletestudents></app-deletestudents>


      </td>
    </tr>
  </tbody>
</nz-table>


</div>

