<div class="conatiner">

  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected>
      <i nz-icon nzType="home"></i>
      Student
    </li>
    <li nz-menu-item nzSelected>
      <i nz-icon nzType="home"></i>
      Professor
    </li>
    <li nz-menu-item nzSelected>
      <i nz-icon nzType="home"></i>
      Meeting
    </li>
    <!-- <li nz-submenu nzTitle="Settings" nzIcon="setting">
      <ul>
        <li nz-menu-group nzTitle="">
          <ul>
            <li nz-menu-item (click)="changePassword()">Change Password</li>
          </ul>
        </li>

      </ul>
    </li> -->
    <li nz-menu-item>
      <i nz-icon nzType="logout"></i>
      Logout
      <a href="#" ></a>
    </li>
  </ul>

  <!-- Change Password Modal -->

  <nz-modal
      [(nzVisible)]="isVisible2"
      nzTitle="Change Password"
      (nzOnCancel)="handleCancel2()"
      (nzOnOk)="handleOk2()"
      [nzOkLoading]="isOkLoading2"
    >
      <div *nzModalContent>





      </div>
    </nz-modal>





    <!-- Table & Button-->

<app-addstudents></app-addstudents>

<nz-table #basicTable class="studentsTable" >
  <thead>
    <tr>
      <th>Name</th>
      <th>National Code</th>
      <th>Email</th>
      <th>phone Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of StudentsData">
      <td>{{ data.name }}</td>
      <td>{{ data.nationalCode }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>

       <app-editstudents></app-editstudents>

        <nz-divider nzType="vertical"></nz-divider>

        <app-deletestudents></app-deletestudents>


      </td>
    </tr>
  </tbody>
</nz-table>


</div>

