.meeting{
    display: flex;
    flex-direction: column;
    height: calc(100%  - 100px);
    width: 60%;
    margin: 3rem auto 0;
}



[nz-form] {
    max-width: 600px;

}

logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

[nz-menu] {
    line-height: 64px;
}

[nz-menu]{
    background-color: #024351;
    color: #fff;
}


.viewStudent{
    background-color: #024351;
    border-radius: 5px;
}

nz-select {
    width: 200px;
}
